<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag "application" %>
</head>
<body data-controller="<%= controller.controller_name %>"
      data-action="<%= controller.action_name %>">
</body>
</html>
